@model Deal
@{
    ViewData["Title"] = "Details";
}

<h1>Deal Pipeline</h1>

<div class="frame">
    <dl class="row">

        <dt class="col-sm-3">***Company Logo will go here***</dt>
        <dd class="col-sm-3"></dd>
        <dt class="col-sm-3"><u>Deal Info</u></dt>
        <dd class="col-sm-3"></dd>

        <dt class="col-sm-3"></dt>
        <dd class="col-sm-3"></dd>
        <dt class="col-sm-3">Deal Type:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.DealType)
        </dd>

        <dt class="col-sm-3"></dt>
        <dd class="col-sm-3"></dd>
        <dt class="col-sm-3">Deal Origination Date:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.DealOriginationDate)
        </dd>

        <dt class="col-sm-3"><u>Company Stats</u></dt>
        <dd class="col-sm-3"></dd>
        <dt class="col-sm-3">Deal Status:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.DealStatus)
        </dd>

        <dt class="col-sm-3">Company Name:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.CompanyName)
        </dd>
        <dt class="col-sm-3">Fund Investing:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.FundInvesting)
        </dd>

        <dt class="col-sm-3">Founded:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.Founded)
        </dd>
        <dt class="col-sm-3">Currency:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.Currency)
        </dd>

        <dt class="col-sm-3">Country:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.Country)
        </dd>
        <dt class="col-sm-3">Equity Required (£m):</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.EquityRequired)
        </dd>

        <dt class="col-sm-3">Region:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.Region)
        </dd>
        <dt class="col-sm-3">Deal Team Lead:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.DealTeamLead)
        </dd>

        <dt class="col-sm-3">Sector:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.Sector)
        </dd>
        <dt class="col-sm-3">Investor Relations Lead:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.InvestorRelationsLead)
        </dd>

        <dt class="col-sm-3">Enterprise Fair Value (£m):</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.EnterpriseValue)
        </dd>
        <dt class="col-sm-3">ESG Lead:</dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(modelItem => Model.ESGLead)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <br />
    <br />
</div>
